tbody {
  display: block;
  max-height: 90vh;
  overflow-y: auto;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tr td {
  border: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr td:hover {
  overflow: visible;
}

tr td span:hover {
  position: relative;
  z-index: 1000;
  background-color: black;
  color: white; 
  font-weight: bold;
  padding: 0 .25em;
}
