<p>{{response}}</p>
<table *ngIf="data && data.length > 0">
  <thead>
    <tr>
      <th>actions</th>
      <th *ngFor="let d of data[0] | keyvalue;">{{d.key}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let d of data; let i = index">
      <td><button (click)="onSubmit(i)">submit</button></td>
      <td *ngFor="let obj of d | keyvalue">
        <span>{{obj.value}}</span>
      </tr>
    </tbody>
    <tfoot>
      <label>size
        <input size="4" (input)="onSizeChange($event.target.value)" [value]="size"/>
      </label>
      <button (click)="onPageChange('first')" [disabled]="page === 1">&lt;&lt;</button>
      <button (click)="onPageChange('prev')" [disabled]="page === 1">&lt;</button>
      <button (click)="onPageChange('next')">&gt;</button>
    </tfoot>
  </table>
